<!-- <p>dashboard works!</p> -->
<h1>Dashboard</h1>
<p>{{message}}</p>

<!-- CheckBox -->
<mat-card>
    <mat-card-content>
      <h2 class="example-h2">Do you like alcohol?</h2>
      <mat-checkbox class="example-margin">Yes</mat-checkbox>
    </mat-card-content>
  </mat-card>


  <!-- RadioButton -->
<mat-card>
    <mat-card-content>
      <h2 class="example-h2">Favorite alcohol</h2>    
      <label class="example-margin">alcoholButton: </label>
      <mat-radio-group>
        <mat-radio-button class="example-margin" value="start">ワイン　</mat-radio-button>
        <mat-radio-button class="example-margin" value="end">ビール　</mat-radio-button>
        <mat-radio-button class="example-margin" value="end">日本酒　</mat-radio-button>
        <mat-radio-button class="example-margin" value="end">ウイスキー　</mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>



  <!-- TextBox・TextArea -->
<!-- <mat-card>
    <mat-card-content>
      <h2 class="example-h2">TextBox・TextArea</h2>
      <table class="example-full-width" cellspacing="0">
        <mat-form-field>
            <input matInput placeholder="TextBox">
        </mat-form-field>
         <tr>
          <mat-input-container class="example-full-width">
            <input matInput placeholder="TextBox">  
          </mat-input-container>
        </tr>
        <tr>
          <mat-input-container class="example-full-width">
            <textarea matInput placeholder="TextArea"></textarea>
          </mat-input-container> -->
        <!-- </tr> -->
      <!-- </table>
    </mat-card-content>
  </mat-card> -->